@import "tailwindcss";

@theme {
  --color-brand-bg: #E8E8E3;
  --color-brand-text: #393632;
  --color-brand-accent: #393632;
  --color-brand-light: #F1F0ED;

  --font-sans: var(--font-sans), ui-sans-serif, system-ui;
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular;
}

@layer base {
  body {
    @apply bg-brand-bg text-brand-text font-sans antialiased;
    background-color: #E8E8E3;
    /* Fallback */
    color: #393632;
  }
}

.dual-text-hover {
  overflow: hidden;
}

.dual-text-hover span {
  display: block;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dual-text-hover:hover span {
  transform: translateY(-100%);
}